<div>
    <h1>
        {{#each productos}}
            <div>
                <ul>
                    <li>{{this.title}}</li>
                    <li>{{this.description}}</li>
                    <li>{{this.price}}</li>
                    <li>{{this.code}}</li>
                    <li>{{this.stock}}</li>
                    <li>{{this.id}}</li>
                </ul>
            </div>
        {{/each}}
    </h1>
</div>