<div>
    {{!-- <h1>Hola {{title}}, wachin</h1> --}}

    <ul>
        <li>{{title}}</li>
        <li>{{description}}</li>
        <li>{{price}}</li>
        <li>{{thumbnail}}</li>
        <li>{{code}}</li>
        <li>{{stock}}</li>
        <li>{{id}}</li>
    </ul>
</div>